@model TestApplication.Models.Contacts

@{
    ViewBag.Title = "Contacts";
}

@foreach (var o in Model.Objects)
{
    <div class="row">
        <div class="col-md-6">
            @Html.Label(o.Name)
        </div>
    </div>
}
